body {
    background-color: rgb(255, 255, 255);
}
input[type=text] {
    padding: 10px;
    font-size: 14px;
}

.azul {
    background-color: rgb(64, 166, 255);
    color: rgb(255, 255, 255);
}

.vermelho {
    background-color: rgb(255, 0, 0);
    color: #FFF;
}

.verde {
    background-color: #00FF00;
    color: black;
}

#telefone {
    display: none;
}